<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174630324254-hg2700b2igsq215e3n5pudc9eq5idddq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174630324254-hg2700b2igsq215e3n5pudc9eq5idddq</string>
	<key>API_KEY</key>
	<string>AIzaSyCkIOylY3PvbP4-a_rj_PM9yTwHl5viFaI</string>
	<key>GCM_SENDER_ID</key>
	<string>174630324254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aquaticteenager.otherworldlyfoe</string>
	<key>PROJECT_ID</key>
	<string>otherworldlyfoe-db7a2</string>
	<key>STORAGE_BUCKET</key>
	<string>otherworldlyfoe-db7a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174630324254:ios:ff7d51faa2ab218c</string>
	<key>DATABASE_URL</key>
	<string>https://otherworldlyfoe-db7a2.firebaseio.com</string>
</dict>
</plist>